{% extends 'layouts.html' %}



{% block title %}
<title>Show Product</title>
{% endblock %}

{% block main_content %}
<table class="table table-bordered table-hover text-center">
    <tr>
        <th> Product Image</th>
        <th> Product Name</th>
        <th>Product Price</th>
        <th>Product Stock</th>
        <th>Product Description</th>
        <th>Action</th>
    </tr>
    {%for p in products%}
    <tr>
        <td> <img src="/{{p.image_url}}" alt="" height="200" width="200"></td>
        <td> {{p.product_name}}</td>
        <td> {{p.product_price}}</td>
        <td> {{p.product_stock}}</td>
        <td > {{p.product_description}}</td>
        <td> 
            <a href="/product/update_product/{{p.id}}"><button class="btn btn-primary">Update</button></a>
            <a href="/product/delete_product/{{p.id}}"><button class="btn btn-danger">Delete</button></a>
        </td>
    </tr>
    {% endfor %}

</table>
{% endblock %}
